{{ if and (.Get "addContainer") (eq "true" (.Get "addContainer")) }}
	<div >
{{ end }}
  <amp-iframe src="{{ .Get "src" }}"
  	{{ if .Get "class" }} class="{{ .Get "class" }}"{{ end }}
  	{{ if .Get "width"}} width="{{ .Get "width" }}" {{ else }} width="800" {{ end }} 
  	{{ if .Get "height"}} height="{{ .Get "height" }}" {{ else }} height="600" {{ end }}
  	allowfullscreen="" 
  	frameborder="0" 
  	title="Embedded Iframe"
  	sandbox="allow-scripts allow-same-origin allow-presentation"
    layout="responsive">
  </amp-iframe>
{{ if and (.Get "addContainer") (eq "true" (.Get "addContainer")) }}
	</div>
{{ end }}