<aside class="l-sidebar">
  <div class="sections sidebar">
    <section class="sidebar">
      <div class="subscribe">
        <header>{{ i18n "subscribeNewsletter" }}</header>
        <p>{{ i18n "subscribeText" }}</p>
        <form>
          <input type="text" class="name" placeholder="{{ i18n "name" }}" title="{{ i18n "nameHelp" }}" required>
          <input type="email" class="email" placeholder="{{ i18n "email" }}" title="{{ i18n "emailHelp" }}" required>
          <input type="submit" class="submit" value="{{ i18n "register" }}">
        </form>
        <div class="spinner" hidden="true">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div class="success" hidden="true">
          <p>{{ i18n "subscribeNewsletterSuccess" }}</p>
        </div>
      </div>
    </section>

    <section class="sidebar">
      <header>{{ i18n "latestPosts" }}</header>
      <div>
        <div class="articles sm">
          {{ range $i, $p := (first 7 .Site.Pages) }}
          {{ .Render "li_sm" }}
          {{ end }}
        </div>
      </div>
    </section>

    {{ range $key, $value := .Site.Taxonomies }}
    <section class="sidebar">
      <header>{{ $key | upper }}</header>
      <div>
        <ul class="terms">
          {{ range first 10 $value.ByCount }}<li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>{{ end }}
        </ul>
      </div>
    </section>
    {{ end }}


    <section class="sidebar">
      <div class="socialMedias">
        <header>{{ i18n "followUsSocialMedias" }}</header>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/{{ i18n "facebookLocaleCode" }}/sdk.js#xfbml=1&version=v2.10&appId=541227622879810";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-follow" data-href="https://www.facebook.com/Traveling-Bubbles-263380677505386/" data-width="310" data-layout="standard" data-size="large" data-show-faces="true"></div>
        <div>
          <a href="//www.instagram.com/traveling_bubbles?ref=badge" class="ig-b- ig-b-32" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
        </div>
      </div>
    </section>

    {{ if .IsTranslated }}
    <section class="sidebar">
      <header>{{ i18n "inOtherLanguages" }}</header>
        <ul class="terms">
      {{ if ne .Title $.Site.Title }}
        {{ range .Translations }}
            <span class="f16"><a class="flag {{ .Lang }}" href="{{ .Permalink }}"/><a href="{{ .Permalink }}">{{ i18n .Lang }}</a></span>
        {{ end}}
      {{ else }}
        {{ if not (eq $.Page.Lang "es") }}<span class="f16" href="/es"><a class="flag es" href="/es"></a><a href="/es">Español</a></span>{{ end }}
        {{ if not (eq $.Page.Lang "fr") }}<span class="f16" href="/fr"><a class="flag fr" href="/fr"></a><a href="/fr">Français</a></span>{{ end }}
      {{ end }}
      </ul>
    </section>
    {{ end }}
  </div>

</aside>
