<aside class="l-sidebar">

  <div class="sections sidebar">
    <section class="sidebar">
      <header>{{ i18n "latestPosts" }}</header>
      <div>
        <div class="articles sm">
          {{ range $i, $p := (first 10 .Site.Pages) }}
          {{ .Render "li_sm" }}
          {{ end }}
        </div>
      </div>
    </section>

    {{ if .IsTranslated }}
    <section class="sidebar">
      <header>{{ i18n "inOtherLanguages" }}</header>

        <ul class="terms">
      {{ range .Translations }}
          <div class="f16"><a class="flag {{ .Lang }}" href="{{ .Permalink }}"/><a href="{{ .Permalink }}">{{ i18n .Lang }}</a></div>
      {{ end}}

      </ul>
    </section>
    {{ end }}

    {{ range $key, $value := .Site.Taxonomies }}
    <section class="sidebar">
      <header>{{ $key | upper }}</header>
      <div>
        <ul class="terms">
          {{ range first 10 $value.ByCount }}<li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>{{ end }}
        </ul>
      </div>
    </section>
    {{ end }}

    <section class="sidebar">
      <header>{{ i18n "subscribeNewsletter" }}</header>
      <div class="subscribe wrapper">
        <p>{{ i18n "subscribeText" }}</p>
        <form>
          <input type="email" class="email" placeholder="Email" required>
           <div>
            <p class="email-help">{{ i18n "emailHelp" }}</p>
          </div>
          <input type="submit" class="submit" value="{{ i18n "register" }}">
        </form>
      </div>
    </section>
  </div>

</aside>
